{% extends "dashboard.html" %}
{% block content %}
<!-- selection -->
<script type="text/javascript">
  $(document).ready(function() {
    $("li").attr("class","").find("span").remove();
    $("#as").attr("class", "active").find("a").append('<span class="sr-only">(current)</span>');
  });
</script>
<!-- selection end -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        {% if not cat_num %}
            <h1>Analysis</h1>  
            <p>Upload customer activies to start learning who will be the next potential revisiting ones. Profile customer and get ideas about their intersts.</p>
            <form action="/upload_file" method=post enctype=multipart/form-data>
             <p><input type=file name=file></p>
             <input type=submit class="btn btn-primary btn-lg" value=Upload>
            </form>
        {% else %}
            <h1>Analysis Reslut</h1>  
            
            <form class="navbar-form navbar-right" action="/upload_file" method=post enctype=multipart/form-data>
                <div class="form-group">
                    <input type=file name=file>
                </div>
             <input type=submit class="btn btn-primary btn-sm" value=Upload>
            </form>
        {% endif %}
      </div>
    </div>
    <div class="container marketing">
      {% if cat_num %}

        <h2>Customer Distribution</h2>
        <div class="row">
            <div class="col-sm-6 col-md-6">
              <img class="img-rectangle" src="../static/img/cat_result/cat_share.png" width="500" height="400">
            </div><!-- /.col-lg-4 -->
        
        </div>
        <hr>
        <h2>Categories</h2>
        <h3>Non-Parametric Method: KDE</h3>
        
       <div class="row">
           {% for i in range(0, cat_num) %}
            <div class="col-sm-5 col-md-5">
              <img class="img-rectangle" src="../static/img/cat_result/kde/kdeplt_cat{{ i }}.png" width="400" height="300">
              <p>Category {{ i }}</p>
            </div><!-- /.col-lg-4 -->
            {% endfor %}
        
        </div>
        
        <h3>Parametric Method: MLE</h3>
        
       <div class="row">
           {% for i in range(0, cat_num) %}
            <div class="col-sm-5 col-md-5">
              <img class="img-rectangle" src="../static/img/cat_result/mle/mleplt_cat{{ i }}.png" width="400" height="300">
              <p>Category {{ i }}</p>
            </div><!-- /.col-lg-4 -->
            {% endfor %}
        
        </div>
        
        
        
       
    {% endif %}
      <!-- Example row of columns -->
      
        


      <hr>

      <footer>
        <p>&copy; 2016 Team Tiger</p>
      </footer>
    </div> <!-- /container -->

</div>

{% endblock %}