{% extends "dashboard.html" %}
{% block content %}
	<script type="text/javascript">
	  $(document).ready(function() {
	    $("li").attr("class","").find("span").remove();
	    $("#ms").attr("class", "active").find("a").append('<span class="sr-only">(current)</span>');
	  });

	</script>
      <script src="../static/assets/js/vendor/jquery.min.js"></script>
      <script src="http://phuonghuynh.github.io/js/bower_components/d3/d3.min.js"></script>
      <script src="http://phuonghuynh.github.io/js/bower_components/d3-transform/src/d3-transform.js"></script>
      <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/extarray.js"></script>
      <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/misc.js"></script>
      <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/micro-observer.js"></script>
      <script src="http://phuonghuynh.github.io/js/bower_components/microplugin/src/microplugin.js"></script>
      <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/bubble-chart.js"></script>
      <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/plugins/central-click/central-click.js"></script>
      <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/plugins/lines/lines.js"></script>
      <script type="text/javascript">
    $(document).ready(function () { 
        var bubbleInput = {
            supportResponsive: true,
            //container: => use @default
            size: 600,
            //viewBoxSize: => use @default
            innerRadius: 600 / 3.5,
            //outerRadius: => use @default
            radiusMin: 50,
            //radiusMax: use @default
            //intersectDelta: use @default
            //intersectInc: use @default
            //circleColor: use @default
            data: {
              eval: function (item) {return item.count;},
              classed: function (item) {return item.text.split(" ").join("");}
            },
            plugins: [
              {
                name: "central-click",
                options: {
                  text: "(See more detail)",
                  style: {
                    "font-size": "12px",
                    "font-style": "italic",
                    "font-family": "Source Sans Pro, sans-serif",
                    //"font-weight": "700",
                    "text-anchor": "middle",
                    "fill": "white"
                  },
                  attr: {dy: "65px"},
                  centralClick: function() {
                    alert("Here is more details!!");
                  }
                }
              },
              {
                name: "lines",
                options: {
                  format: [
                    {// Line #1
                      textField: "text",
                      classed: {text: true},
                      style: {
                        "font-size": "16px",
                        "font-family": "Source Sans Pro, sans-serif",
                        "text-anchor": "middle",
                        fill: "white"
                      },
                      attr: {
                        dy: "15px",
                        x: function (d) {return d.cx;},
                        y: function (d) {return d.cy;}
                      }
                    }
                  ],
                  centralFormat: [
                    {// Line #1
                      style: {"font-size": "30px"},
                      attr: {dy: "40px"}
                    }
                  ]
                }
              }]
        };

        bubbleInput["data"]["items"] = {{ input|safe }};
        var bubbleChart = new d3.svg.BubbleChart(bubbleInput);
    });

  </script>
  <style>
    .bubbleChart {
      min-width: 100px;
      max-width: 700px;
      height: 700px;
      margin: 0 auto;
    }
    .bubbleChart svg{
      background: #FFFFFF;
    }
  </style>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="sub-header">Music Style</h1>
  <div class="bubbleChart"/>
</div>

{% endblock %}
